@mixin breadcrumb-item($separator: "/", $space: 1em/4){
	> li{
		position: relative;
		margin: 0;
		padding: 0;
		margin-left: $space/2;
		padding-left: $space/2;
		font-size: 1em;

		&:before{
			content: $separator;
			position: absolute;
			top: 50%;
			margin-top: -0.5em;
			left: 0;
		}
	}

	> li:first-child{
		margin: 0;
		padding: 0;

		&:before, &:after{
			content: none;
		}
	}
}

@mixin breadcrumb($separator: "/", $space: 1em/4) {
	@extend %inline-list;
	@include breadcrumb-item($separator, $space);
}