@mixin pagination-item($margin, $padding){
	> li{
		margin: $margin;
		vertical-align: bottom;

		> a, > span{
			padding: $padding;
			display: block;
		}

	}
}

@mixin pagination($margin:0.25em, $padding:0.25em 0.5em){
	text-align: center;
	@extend %inline-list;
	@include pagination-item($margin, $padding);
}