@mixin checkbox-field(){
	@extend %field-group;
	&.inline-field{ display: inline-block; }

	@extend %option-appearance;
}

@mixin radio-button-field(){
	@extend %field-group;
	&.inline-field{ display: inline-block; }

	@extend %option-appearance;

	.check{
		-webkit-border-radius: 1em;
		-moz-border-radius: 1em;
		border-radius: 1em;
	}
}