@mixin text-field($padding: 1em){
	@extend %field-group;
	&.inline-field{ display: inline-block; }

	padding: $padding;

	.fld{
		border: none;
		outline: none;
		margin: 0;
		padding: 0;
		display: block;
		position: relative;
		width: 100%;
		height: 100%;
		box-sizing: border-box;

		&::-moz-focus-inner{
			border: 0;
			padding: 0;
		}
	}

}