.example1 {
  font-style: italic; }

.example2 {
  font-family: "Helvetica Neue"; }

.example3 {
  font-family: "Helvetica Neue", Arial, sans; }

.example4 {
  font-size: 2rem; }

.example5 {
  font-size: 12px; }

.example6 {
  font-size: 50%; }

.example7 {
  font-size: 1.5em; }

.example8 {
  font-weight: bold; }

.example9 {
  font-style: italic;
  font-weight: bold;
  font-size: 12rem;
  font-family: "Helvetica Neue", Arial, sans; }

.example10 {
  font-weight: bolder;
  font-size: 2em; }

.example11 {
  font-style: italic;
  font-weight: bold;
  font-size: 3rem;
  font-family: "Helvetica Neue", Arial, sans; }

.example12 {
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  font-family: "Helvetica Neue", Arial, sans; }

.example13 {
  font-style: inherit;
  font-variant: inherit;
  font-weight: normal; }

.example14 {
  font-style: normal;
  font-family: "Helvetica Neue", Arial, sans; }

.example15 {
  font-style: normal;
  font-variant: inherit;
  font-family: "Helvetica Neue", Arial, sans; }

.example16 {
  font-style: normal;
  font-variant: inherit;
  font-weight: normal;
  font-family: "Helvetica Neue", Arial, sans; }

.example17 {
  font-style: normal;
  font-variant: inherit;
  font-weight: normal;
  font-size: 12px;
  font-family: "Helvetica Neue", Arial, sans; }

.example18 {
  font-style: normal;
  font-variant: inherit;
  font-weight: normal;
  font-size: 12px;
  font-family: "Helvetica Neue", Arial, sans; }

.example19 {
  font-style: normal;
  font-variant: inherit;
  font-weight: normal;
  font-size: 12px;
  font-family: "Helvetica Neue", Arial, sans; }

.example20 {
  font-weight: bold;
  font-size: 12px;
  font-family: "Helvetica Neue", Arial, sans; }
