$field-height: 2em;
$field-font-size: 1em;
$field-gutter: 0.5em;

%field-group{
	font-size: $field-font-size;
	vertical-align: top;
	margin-left: $field-gutter;

	.field-wrapper{
		border: 1px solid;
		background: #fff;
		height: $field-height/2;
		padding: $field-height/8;
	}

	label{
		display: block;
		letter-spacing: 0;
		height: $field-height*.75;
		line-height: $field-height*.75;
		margin-top: -$field-height/8;
	}

	&.inline-label{
		label{
			margin-right: $field-gutter;
			float: left;
			margin-top: 0;
		}

		.field-wrapper{
			overflow: hidden;
		}
	}
}

%field-row{
	margin-left: -$field-gutter;
	@extend %float-wrapper;
}