$default-option-width: 1em !default;
$default-option-height: 1em !default;

%checkbox-reset{
	box-sizing: border-box;
	padding: 0;
}

%option-appearance{
	.fld{
		opacity: 0;
		position: absolute;
		z-index: -1;
		height: 1px;
		width: 1px;
	}

	.fld + .check{
		width: $default-option-width;
		height: $default-option-height;
		display: inline-block;
		position: relative;
		@include box-sizing(border-box);
		border: 2px solid black;
		background: 0;
		vertical-align: middle;
	}

	.fld:checked + .check,
	.fld.cheked + .check{
		background: black;
	}

	&:hover .fld + .check{
		border-color: grey;
	}

	.fld + .check:active,
	.fld + .check:active{
		border-color: lightgray;
	}

	.fld:disabled + .check,
	.fld[disabled=disabled] + .check{
		background: lightgray;
	}

	.fld:disabled:checked + .check,
	.fld.checked[disabled=disabled] + .check{
		background: gray;
	}

	&:hover .fld:disabled + .check,
	&:hover .fld[disabled=disabled] + .check{
		border-color: black;
	}
}