@import "SassyLists/stylesheets/SassyLists";

@function remove-and-clear($list, $arg) {
	@return purge(remove($list, $arg));
}

// Check the full documentation at: README.md
@mixin font($args...) {

	$style-list: (normal, inherit, italic, oblique);
	$variant-list: (normal, inherit, small-caps);
	$weight-list: (normal, inherit, bold, bolder, lighter, 100, 200, 300, 400, 500, 600, 700, 800, 900);

	$font-style: null;
	$font-variant: null;
	$font-weight: null;
	$font-size: null;
	$font-family: null;

	$args-list: $args;
	$arg-length: length($args-list);

	@each $arg in $args-list {

		// @warn "Lista de parametros: " + $args-list;

		// @warn " > Testando: " + $arg;

		@if (contain($style-list, $arg)) {

			// @warn " >> " + $arg + " existe dentro de (style-list) " + $style-list;
			$font-style: $arg;
			$args-list: remove-and-clear($args-list, $arg);
			$style-list: ();

		} @else if (contain($variant-list, $arg)) {

			// @warn " >> " + $arg + " existe dentro de (variant-list) " + $variant-list;
			$font-variant: $arg;
			$args-list: remove-and-clear($args-list, $arg);
			$variant-list: ();

		} @else if (contain($weight-list, $arg)) {

			// @warn " >> " + $arg + " existe dentro de (weight-list) " + $weight-list;
			$font-weight: $arg;
			$args-list: remove-and-clear($args-list, $arg);
			$weight-list: ();
		}
	}

	// @warn "Lista de parametros: " + $args-list;

	@each $arg in $args-list {

		@if (type-of($arg) == number) {
			$font-size: $arg;
			$args-list: remove-and-clear($args-list, $arg);
		} @else {
			$font-family: join((), $arg, comma);
			$args-list: remove-and-clear($args-list, $arg);
		}

	}

	// Output order: font-style, font-variant, font-weight, font-size, font-family...
	font-style: $font-style;
	font-variant: $font-variant;
	font-weight: $font-weight;
	font-size: $font-size;
	font-family: $font-family;

}